Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,-modernize-use-trailing-return-type
WarningsAsErrors: ''
HeaderFilterRegex: 'include/MohidNG/.*|src/.*'
FormatStyle: file
